<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-init="sharedValue={name: 'rootScope'}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<p>RootScope value is: {{sharedValue.name}}</p>
<input type="text" ng-model="sharedValue.name">

<div ng-controller="ParentController1">
    <p>Parent Controller 1 value is: {{sharedValue.name}}</p>
    <input type="text" ng-model="sharedValue.name">
    <div ng-controller="ChildController1">
        <p>Child Controller 1 value is: {{sharedValue.name}}</p>
        <input type="text" ng-model="sharedValue.name">
    </div>
    <div ng-controller="ChildController2">
        <p>Child Controller 2 value is: {{sharedValue.name}}</p>
        <input type="text" ng-model="sharedValue.name">
    </div>
</div>
<div ng-controller="ParentController2">
    <p>Parent Controller 2 value is: {{sharedValue.name}}</p>
    <input type="text" ng-model="sharedValue.name">
</div>
</body>
</html>