* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 1000px;
    margin: 100px auto;
    text-align: center;
}

.tab-control-wrapper {
    border: 1px solid lightgray;
    width: 100%;
    box-shadow: 0 0 30px grey;
}

.tab-control-wrapper .tabs-wrapper {
    display: flex;
    height: 50px;
}

.tab {
    flex-grow: 1;
    cursor: pointer;
    line-height: 50px;
    justify-content: center;
    text-transform: capitalize;
}

.tab.active {
    box-shadow: inset 0 0 30px lightgrey;
}

.pane-content {
    min-height: 450px;
    padding: 30px;
}